<ion-view>
<ion-header-bar class="balanced-bg main-header" >
	<i class="logo"></i>
	<a href="#" class="download">下载APP</a>
</ion-header-bar>
<ion-tabs class="tabs-top tabs-striped ">
	<ion-tab ui-sref="main.home"  title='推荐'>
		<ion-nav-view name="main-home"></ion-nav-view>
	</ion-tab>
	<ion-tab ui-sref="main.rank" title="排行榜">
		<ion-nav-view name="main-rank"></ion-nav-view>
	</ion-tab>
	<ion-tab ui-sref="main.search" title='搜索'>
		<ion-nav-view name="main-search"></ion-nav-view>
	</ion-tab>
</ion-tabs>
</ion-view>