<ion-view>
	<ion-content class="state-bg">
		<div class="search">
			<i></i>
			<input type="search" placeholder="        搜索歌曲、歌单、专辑">	
			<button>取消</button>
		</div>
		<ion-item>1</ion-item>
		<ion-item>2</ion-item>
		<ion-item>3</ion-item>
		<ion-item>4</ion-item>
		<ion-item>5</ion-item>
		<ion-item>6</ion-item>
		<ion-item>7</ion-item>
		<ion-item>8</ion-item>
		<ion-item>9</ion-item>
		<ion-item>10</ion-item>
		<ion-item>11</ion-item>
		<ion-item>12</ion-item>
		<ion-item>13</ion-item>
		<ion-item>14</ion-item>
	</ion-content>
</ion-view>